.menu-button.w-nav-button.night.w--open {
  background-image: url('https://uploads-ssl.webflow.com/622056a4b2846cc6ae249a87/6235b214b8aea2a14e99874d_menu-close-night.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

a {font-feature-settings: 'ss02' on, 'ss03' on, 'dnom' on, 'numr' on, 'ss01' on, 'liga' off, 'calt' off;}