.menu-button.w-nav-button.night.w--open {
  background-image: url('https://uploads-ssl.webflow.com/622056a4b2846cc6ae249a87/6235b214b8aea2a14e99874d_menu-close-night.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

a {font-feature-settings: 'ss02' on, 'ss03' on, 'dnom' on, 'numr' on, 'ss01' on, 'liga' off, 'calt' off;}
.clear_font_style {font-feature-settings: 'ss02' off, 'ss03' off, 'dnom' off, 'numr' off, 'ss01' off, 'liga' on, 'calt' on !important;}

.weglot-container {margin-right: 16px;}
.wg-drop.country-selector .wgcurrent {border: 0px !important; background-color: rgba(43, 43, 52, 0.1) !important;}
.wg-drop.country-selector a {color: rgb(43, 43, 52);}